<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    {% block links %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <style>
        body {
            margin: 40px auto;
            max-width: 800px;
            line-height: 1.6;
            font-size: 18px;
            color: #444;
            padding: 0 10px
        }
    </style>

    {% block styles %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KP0XQZQHC5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-KP0XQZQHC5');
    </script>
</head>

<body>
    {% block header %}
    <div class="ui main text container">
        <h1 class="ui header">👮📊 Honolulu Police Department Stats</h1>
        <p>A project to track the statistics of the arrests of the <a href="https://www.honolulupd.org/">Honolulu Police
                Department</a></p>
    </div>
    <div class="ui main menu borderless">
        <div class="ui text container sticky">
            {% if request.path == '/' %}
            <a href="/" class="item active">Home</a>
            {% else %}
            <a href="/" class="item">Home</a>
            {% endif %}

            {% if request.path == '/table' %}
            <a href="/table" class="item active">Table</a>
            {% else %}
            <a href="/table" class="item">Table</a>
            {% endif %}

            {% if request.path == '/map' %}
            <a href="/map" class="item active">Map</a>
            {% else %}
            <a href="/map" class="item">Map</a>
            {% endif %}

            {% if request.path == '/archive' %}
            <a href="/archive" class="item active">Archive</a>
            {% else %}
            <a href="/archive" class="item">Archive</a>
            {% endif %}
        </div>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui section divider"></div>
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <h4 class="ui header">Inspirations</h4>
                    <div class="ui link list">
                        <a class="item"
                            href="https://www.hawaiipublicradio.org/post/aclu-hpd-stop-racial-profiling-even-if-unintended"
                            target="_blank">ACLU To HPD: Stop Racial Profiling, Even If Unintended</a>
                        <a class="item" href="https://mappingpoliceviolence.org/" target="_blank">Mapping Police
                            Violence</a>
                    </div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui header">Resources</h4>
                    <div class="ui link list">
                        <a class="item" href=https://www.honolulupd.org/policy/policy-public-access-to-arrest-logs/"
                            target="_blank">Public Access to Arrest Logs</a>
                    </div>
                    <div class="ui link list">
                        <a href="https://github.com/hnl-ai/hpdstats" class="item" target="_blank">Open-Source
                            Repository</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui center aligned container">
            <div class="ui section divider"></div>
            <p>👮📊</p>
            <div class="ui horizontal small divided link list">
                <a class="item" href="https://github.com/tyliec" target="_blank">Created by @tyliec</a>
            </div>
        </div>
    </div>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    {% block scripts %}{% endblock %}
</body>

</html>